{{define "content"}}
    <div class="container d-flex h-100">
        <div class="row card login">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                
                <p class="card-text">
                    <form action="/login" method="POST">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="fas fa-user"></span></div>
                        </div>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="fas fa-unlock"></span></div>
                        </div>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    {{if .Display}}
                        {{$alert := ""}}
                        {{if eq .Type "success"}}
                            {{$alert = "alert-success"}}
                        {{else}}
                            {{$alert = "alert-danger"}}
                        {{end}}

                        <div class='alert {{$alert}} message' role="alert">
                            {{.Text}}
                        </div>
                    {{end}}
                    <button type="submit" class="btn btn-dark float-right">Login</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
{{end}}