{{define "content"}}

<div class="container">
    {{range .}}
    <div class="card my-2 question">
        <div class="card-body">
            <div class="row">
                <div class="col-md-1 left">
                    <div class="vote">
                        <div class="fas fa-chevron-up vote-button"></div>
                        <div>{{.Vote}}</div>
                        <div class="fas fa-chevron-down vote-button"></div>
                    </div>
                    <p>2 Answers</p>
                    {{if .IsSolved}}
                        <p class="bg-success text-white">Solved</p>
                    {{end}}
                </div>
                <div class="col-md-11 right">
                    <h5 class="card-title"><a href="#">{{.Title}}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><a href="#">{{.Username}}</a></h6>
                    <p class="card-text">
                        {{.Description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}