{{define "content"}}
<div class="container">
    <div class="card my-2 question">
        <div class="card-body">
            <div class="row">
                <div class="col-md-1 left">
                    <div class="vote">
                        {{if .IsVoted}}
                            <span class="fas fa-chevron-up disabled"></span> 
                        {{else}}
                            <a href="?action=upvote&id={{.Question.ID}}"  class="fas fa-chevron-up vote-button"></a>
                        {{end}}

                        <div>{{.Question.Vote}}</div>

                        {{if .IsVoted}}
                            <span class="fas fa-chevron-down disabled"></span> 
                        {{else}}
                            <a href="?action=downvote&id={{.Question.ID}}"  class="fas fa-chevron-down vote-button"></a> 
                        {{end}}
                    </div>
                    <p>{{.NumOfAnswer}} Answer</p>
                    {{if .Question.IsSolved}}
                        <p class="bg-success text-white">Solved</p>
                    {{end}}
                </div>
                <div class="col-md-11 right">
                    <h5 class="card-title"><a href="#">{{.Question.Title}}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <small>Posted on: {{.Question.CreatedDate | formatCreatedDate}}</small><br/>
                        <a href="/profile/{{.Question.Username}}">{{.Question.Username}}</a>
                    </h6>
                    <p class="card-text">
                        {{.Question.Description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-2 bg-dark answer-form">
        <div class="card-body">
            <p class="card-text">
                <form action="/discussion/{{.Question.ID}}" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="answer"></textarea>
                    </div>
                    <button type="submit" class="btn ml-auto answer">Answer</button>
                </form>
            </p>
        </div>
    </div>
    {{$questionId := .Question.ID}}
    {{$isQuestionByLoggedInUser := .IsQuestionByLoggedInUser}}
    {{range .Question.Answers}}
        <div class="card my-2 answer">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1 left">
                        <img src="{{.ImageUrl}}" alt="Man"/>
                        <a href="/profile/{{.Username}}">{{.Username}}</a>
                        {{if .IsGood}}
                            <div class="good-answer">
                                <span class="fa fa-check btn-good-answer selected"></span>
                            </div>
                        {{end}}

                        {{if (and $isQuestionByLoggedInUser (not .IsGood))}}
                            <form action="/discussion/{{$questionId}}" method="POST">
                                <button class="fa fa-check btn-good-answer" value="{{.ID}}" name="good-answer"></button>
                            </form>
                        {{else}}
                           
                        {{end}}
                    </div>
                    <div class="col-md-11">  
                        <small>{{.CreatedDate | formatCreatedDate}}</small><br/>                      
                        <p class="card-text">
                            {{.Answer}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {{end}}
</div>
{{end}}