{{define "content"}}
<div class="container">
    <div class="card my-2 question">
        <div class="card-body">
            <div class="row">
                <div class="col-md-1 left">
                    <div class="vote">
                        {{if .IsVoted}}
                            <span class="fas fa-chevron-up disabled"></span> 
                        {{else}}
                            <a href="?action=upvote&id={{.Question.ID}}"  class="fas fa-chevron-up vote-button"></a>
                        {{end}}

                        <div>{{.Question.Vote}}</div>

                        {{if .IsVoted}}
                            <span class="fas fa-chevron-down disabled"></span> 
                        {{else}}
                            <a href="?action=downvote&id={{.Question.ID}}"  class="fas fa-chevron-down vote-button"></a> 
                        {{end}}
                    </div>
                    <p>2 Answers</p>
                    {{if .Question.IsSolved}}
                        <p class="bg-success text-white">Solved</p>
                    {{end}}
                </div>
                <div class="col-md-11 right">
                    <h5 class="card-title"><a href="#">{{.Question.Title}}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><a href="#">{{.Question.Username}}</a></h6>
                    <p class="card-text">
                        {{.Question.Description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-2 bg-dark answer-form">
        <div class="card-body">
            <p class="card-text">
                <form action="/discussion/{{.Question.ID}}" method="POST">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="answer"></textarea>
                    </div>
                    <button type="submit" class="btn ml-auto answer">Answer</button>
                </form>
            </p>
        </div>
    </div>
    <div class="card my-2 answer">
        <div class="card-body">
            <div class="row">
                <div class="col-md-1 left">
                    <img src="../../assets/img/man.png" alt="Man"/>
                    <a href="#">Username</a>
                </div>
                <div class="col-md-11">                        
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris convallis, dolor eu ultrices porta, dui mi ornare
                        mauris, rutrum ultrices tellus nisl tincidunt arcu.
                        Nam condimentum ac ex vitae varius. Sed augue eros,
                        luctus non nisl vitae, bibendum suscipit erat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam a mi elementum justo luctus dignissim a et nisl.
                        Proin rutrum justo est, nec pellentesque dui scelerisque
                        vitae.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-2 answer questioning">
        <div class="card-body">
            <div class="row">
                <div class="col-md-1 left">
                    <img src="../../assets/img/yellow.png" alt="Man"/>
                    <a href="#">Username</a>
                </div>
                <div class="col-md-11">                        
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris convallis, dolor eu ultrices porta, dui mi ornare
                        mauris, rutrum ultrices tellus nisl tincidunt arcu.
                        Nam condimentum ac ex vitae varius. Sed augue eros,
                        luctus non nisl vitae, bibendum suscipit erat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nullam a mi elementum justo luctus dignissim a et nisl.
                        Proin rutrum justo est, nec pellentesque dui scelerisque
                        vitae.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}